{% load static %}

<!-- templates/home.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
</head>
<body>
    <h1>Confecciones Leidy - Sede {{ user.last_name }}</h1>
    
    <div class="button-container">
        <a href="{% url 'ver_inventario' %}"><button>Ver Inventario</button></a>
        <a href="{% url 'registrar_venta' %}"><button>Registrar Venta</button></a>
    </div>
    
    <form action="{% url 'logout' %}" method="post">
        {% csrf_token %}
        <input class="form input" type="submit" value="Cerrar Sesión">
    </form>
</body>
</html>

